body {
    background: #d4d4d4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 1em;

    --avatar-width: 125px;
    --avatar-height: 125px;
}

.card {
    border: 5px solid black;
    box-shadow: 0.5rem 0.5rem 0 0 black;
    border-radius: 1.5em;
    background-color: white;
    width: 410px;
    overflow: hidden;

    header {
        display: flex;
        background-color: #ee1414;
        border-bottom: 5px solid black;
        justify-content: center;
    }

    main {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 1.2rem;
        padding-inline: 1.5rem;
        padding-top: 4.75rem;
        padding-bottom: 2rem;

        h2,
        .position {
            line-height: 1;
        }
    }
}

.avatar {
    display: flex;
    border: 5px solid black;
    background-color: white;
    width: var(--avatar-width);
    height: var(--avatar-height);
    padding: 0.35em;
    justify-content: center;
    align-items: center;
    position: relative;
    top: calc(var(--avatar-height) / 2);

    img {
        width: 100%;
        height: auto;
    }
}

.position {
    font-size: 1.1em;
}

.description {
    border: 2px dashed black;
    background-color: #f0f0f0;
    padding: 0.5rem;
    font-size: 1.1em;
}

button.view-profile {
    border: 3px solid black;
    box-shadow: 0.3rem 0.3rem 0 0 black;
    background-color: #0da52b;
    color: white;
    font-family: inherit;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 2px 2px black;
    width: 200px;
    margin-top: 0.5rem;
    padding: 1rem;

    &:hover {
        cursor: pointer;
        background-color: #085c19;
    }

    &:active {
        box-shadow: none;
        position: relative;
        top: 2px;
        left: 2px;
    }
}