body {
    background: #eee;
    padding: 2em;
}

article {
    background: #fff;
    border-radius: 0.3em;
    box-shadow: 0 0 1.5em 0 rgb(0, 0, 0, 0.2);
    margin: 0 auto;
    max-width: 1100px;
}

article header {
    padding: 2em;
    color: green;
    font-size: 1.2em;
}

article nav,
article footer {
    width: 100%;
    background-color: #444;
    color: #fff;
}

article nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}

article nav ul li {
    padding: 1.1em 1.4em;
    flex: 1 1 auto;
}

article section {
    display: flex;
    gap: 2em;
    padding: 2em 3em;
}


@media (width <= 600px) {
    article nav ul {
        flex-direction: column;
        text-align: center;
    }

    article nav ul li + li {
        border-top: 1px solid #888;
    }

    article section {
        flex-direction: column;
    }
}

article section main p {
    padding-bottom: 1.5em;
}

footer {
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    padding: 1.2em;
    text-align: center;
}