p {
    border: 2px solid black;
    margin-bottom: 2em;
}

.first {
    height: 200px;
}

.second {
    height: 50%;
}

.third {
    height: 50vh;
}

.fourth {
    min-height: 100px;
    max-height: 300px;
}