html {
    font: 14px/1.5 Lato, sans-serif;
    
}

body {
    background: #eee;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
    padding: 2em;
}

.container {
    display: flex;
    max-width: 90%;
    gap: 2em;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }
}

main {
    flex: 0 0 65%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

main article,
aside article {
    flex-grow: 1;
}

aside {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

article {
    display: flex;
    flex-direction: column;
}

article .inner {
    background-color: #fff;
    border-radius: 0.3em;
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.1);
    padding: 2em;
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 2em;
}

aside article .inner {
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width: 800px) {
    aside article .inner {
        flex-direction: row;
        align-items: center;
    }
}

article i[class*="fa-"] {
    font-size: 4em;
    padding-bottom: 0.2em;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

article .media {
    background: #090;
    border: 5px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    flex: 0 0 25%;
    aspect-ratio: 1;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
}

article .desc {
    color: #9e9f9f;
    padding-bottom: 2em;
}

article .author {
    font-weight: bold;
    font-size: 1.2em;
}