body {
    background-color: #171720;
    color: #fce8b1;

    --heading-font: PT Serif, sans-serif;
    --color-dark-orange: #b0825c;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;

    &:hover {
        color: #997000;
    }
}

li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    font-weight: lighter;
    line-height: 1.3;
}

h2 {
    font-size: 2.8em;
}

.header {
    background-image: url(../03-E-Sports-League-Resources/images/hero-bg.webp);
    background-size: cover;
    background-position: top center;
    padding-left: 7rem;
    padding-bottom: 6rem;

    .logo {
        position: absolute;
        width: 130px;
        height: auto;
        left: 50px;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
        gap: 1.5rem;
        padding: 4rem 3rem;
    }

    .header-info {
        h1 {
            width: 15ch;
            margin-bottom: 1rem;
            font-size: 3.8em;
        }

        .introduction {
            width: 22ch;
            font-size: 1.1em;
            line-height: 1.6;
        }
    }
}

.details {
    display: flex;
    justify-content: center;
    gap: 2rem;
    border-bottom: 2px solid #fce8b1;
    padding-block: 5.5rem;

    & > * {
        width: 34%;
    }
}

.read-more {
    background: none;
    border: 2px solid var(--color-dark-orange);
    color: var(--color-dark-orange);
    padding: 1rem 1.5rem;
    margin-top: 3rem;
    font-weight: bold;;

    &:hover {
        background-color: var(--color-dark-orange);
        color: #171720;
        cursor: pointer;
    }
}

.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 4rem;

    h2 {
        margin-bottom: 1.5rem;
    }

    .partner-logos {
        display: flex;
        gap: 2rem;
        margin-top: 4.5rem;
        margin-bottom: 1.5rem;

        .logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #3f3e44;
            border-radius: 1em;
            width: 190px;
            height: 190px;

            img {
                width: 70%;
                height: auto;
            }
        }
    }
}

.matches {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff8f0;
    padding-block: 5.5rem;
    color: black;
    
    .heading {
        color: var(--color-dark-orange);
        font-size: 2.5em;
        margin-bottom: 1rem;
        line-height: 1;
    }

    .matches-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 50%;
        margin-top: 2rem;
    }

    .match {
        background-color: #f4e3d0;
        border-left: 5px solid var(--color-dark-orange);
        border-radius: 0.3em;
        padding: 1rem 1.5rem;
        overflow: hidden;

        &:hover {
            cursor: pointer;
            background-color: var(--color-dark-orange);

            a {
                color: #f4e3d0;
            }
        }
    }
}

.footer {
    color: #b3a69b;
    padding-bottom: 2.5rem;
    font-size: 0.9em;

    .links {
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid #3a3a41;
        padding-inline: 15%;
        width: 100%;
        gap: 10rem;

        h4 {
            color: white;
            font-size: 1.3em;
            margin-bottom: 1.2rem;
        }

        .footer-links-headquarters p {
            line-height: 1.1;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
        }
    }

    .footer-copyright {
        padding-inline: 15%;
        padding-block: 1.5rem;
        margin: auto;
    }
}